WORDPRESS_PORT=8090
PHPMYADMIN_PORT=8091

WORDPRESS_DB_NAME=acoci_wp
WORDPRESS_DB_USER=acoci_user
WORDPRESS_DB_PASSWORD=acoci_password
WORDPRESS_DB_ROOT_PASSWORD=acoci_root_password

WORDPRESS_DEBUG=1
